@import '../scss/vars';

.channel-list {
  width: 240px;
  height: 100%;
  background: $background-2;
  box-shadow: $shadow-0;
  padding: 12px 0;
  z-index: 200;

  .channel-item {
    height: 40px;
    width: 100%;
    line-height: 40px;
    padding: 0 5px 0 7px;
    cursor: pointer;
    color: $black-1;
    text-decoration: none;

    &:not(.active):hover {
      background: $black-5;
    }
    &.active {
      background: $black-4;
    }

    .icon {
      height: 30px;
      width: 30px;
      line-height: 30px;
      margin: 5px 0;

      path {
        fill: $black-3;
      }
    }
  }
}
