@import '../scss/vars';

.login {
  .view {
    height: 400px;
    width: 600px;
    background: $background-2;
    box-shadow: $shadow-0;
    overflow: hidden;

    .slider {
      position: absolute;
      right: 0;
      top: 0;
      background: $accent-1;
      color: white;
      height: 100%;
      width: 50%;
      z-index: 200;
    }

    form {
      padding: 20px 14px 60px 14px;
      z-index: 100;

      h1 {
        margin-bottom: 10px;
      }

      & + form {
        border-left: 1px solid $black-4;
        // background: $accent-1;
        // color: $white-1;

        @include break('small') {
          border-left: none;
          border-top: 1px solid $black-4;
        }
        // .underlined-input .placeholder {
        //   color: $white-2;
        // }
      }

      .error {
        color: $red;
        display: block;
        line-height: 20px;
        height: 20px;
        width: 100%;
      }

      .buttons {
        text-align: right;
        margin-top: 8px;
      }
    }

    @include break('small') {
      flex-direction: column;
      width: 100%;
      height: auto;
      max-width: 400px;
      min-height: 400px;
    }
  }
}
