@import '../scss/vars';

.message {
  min-height: 60px;
  border-bottom: 1px solid $black-5;
  padding: 16px 12px;

  &:last-of-type {
    border: none;
  }

  .name {
    display: inline-block;
    color: $black-1;
    font-size: 0.95rem;
  }

  .timestamp {
    display: inline-block;
    color: $black-3;
    font-size: 0.9rem;
    margin-left: 8px;
  }

  p {
    margin: 4px 0 0 0;
    color: $black-2;
    line-height: 20px;
    white-space: pre;
  }
}
