@import '../scss/vars';

.invite {
  display: block;
  background: $black-5;
  width: 400px;
  padding: 12px;
  border-radius: 4px;
  margin: 10px 0;

  h1 {
    font-size: 1.3rem;
    margin-bottom: 4px;
  }
  .channel-info {
    color: $black-2;
    font-size: 0.9rem;
    margin-top: -4px;
  }
}
